@media screen and (max-width: 600px){

  
   .w3-hide-small {
    display: none;
   }


    #about > article:nth-child(2){
width: 100%;

    }

    #menu > article:nth-child(1){

        width: 100%;
    }
   



}

































